{% assign ratetime = include.q.rate | times: include.q.mass %}
{% assign need = ratetime | times: include.q.time %}
{% assign have = include.q.conc | times: 1000 %}
{% assign volume = need | divided_by: have | times: 100 %}

<li>A <strong>{{include.q.mass | round: 2 | replace: '.00', '' | replace: '.0', ''}} kg</strong> patient requires <strong>{{include.q.rate | round: 2 | replace: '.00', '' | replace: '.0', ''}} mg/kg/minute</strong> for <strong>{{include.q.time | round: 2 | replace: '.00', '' | replace: '.0', ''}} minutes</strong>, delivered by a <strong>{{include.q.conc | round: 2 | replace: '.00', '' | replace: '.0', ''}} &#37;w/v</strong> solution. How much solution will they need in ml?
<details class="solution-details">
    <summary>Solution</summary>
    <div class="solution-content">
    <p>Step 1: Find rate per minute using patient mass:</p>
    <p>${{include.q.rate | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{mg/kg/min} \times {{include.q.mass | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{kg} = {{ratetime | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{mg/min}$</p>
    <p>Step 2: Find total mg of drug</p>  
    <p>${{ratetime | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{mg/min} \times {{include.q.time | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{min} = {{need | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{mg}$</p>
    <p>Step 3: Make the concentration in the same units as required drug:</p>
    <p>${{include.q.conc | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{&#37; w/v} = {{include.q.conc | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{g/100 ml} = {{have | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{mg/100 ml}$</p>
    <p>Step 4: Calculate the volume in ml:</p>
    <p>$\frac{ {{need | round: 2 | replace: '.00', '' | replace: '.0', ''}} }{ {{have | round: 2 | replace: '.00', '' | replace: '.0', ''}} } \times 100 \text{ml} = {{volume | round: 2 | replace: '.00', '' | replace: '.0', ''}} \text{ml}$</p>
    <p><strong>Solution: {{volume | round: 2 | replace: '.00', '' | replace: '.0', ''}} ml</strong></p>
    </div>
</details>
</li>
